*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    /* font-size: 36px; */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: steelblue;
}

.container {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 1rem;
}

.footer {
    text-align: center;
    margin: 1rem auto;
    margin-top: 3rem;
}
.footer .copyright {
    margin: 1rem auto;

}
#links a{
    padding-top: 1.3rem;
}

h1,
h5 {
    margin: 0 auto;

}

form {
    margin: 5px auto;
}
form div {
    margin: 1rem auto;
}

.editCancel {
    text-align: center;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

input,
label {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* font-size: 36px; */
    /* margin-bottom: 10px; */
}

ol {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 1rem;
}

button,
a {
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 2px;
}

a:hover,
button:hover {
    background-color: steelblue;
}

.editRemoveLinks {
    margin-top: 1rem;
}

li {
    margin-bottom: 1rem;
    /* justify-content: center; */
    /* display: block;
    margin: 0 auto; */
    /* margin-bottom: 5px; */
}